{% block sidebar %}
    
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <!-- <div class="card-header">Header</div> -->
  <div class="card-body">
    <h5 class="card-title">Obvestila</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
</div>
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <!-- <div class="card-header">Header</div> -->
  <div class="card-body">
    <h5 class="card-title">Koledar</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
</div>
    
{% endblock %}
